name: CI Poincare junior
on: [pull_request]
env:
  MAKEFLAGS: ${{ endswith(github.repository, '/epsilon-internal') && '-j32' || '-j2' }} ${{ (github.job == 'device') && 'EMBED_EXTRA_DATA=1' }}

jobs:
  linux:
    runs-on: ${{ endswith(github.repository, '/epsilon-internal') && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - uses: numworks/setup-llvm@latest
      - uses: actions/checkout@v3
      - run: build/setup.sh --only-simulator
      - run: make TOOLCHAIN=host-clang PLATFORM=simulator ASSERTIONS=1 test.bin
        # TODO this LD_LIBRARY_PATH is quite dirty
      - run: LD_LIBRARY_PATH=/home/usain/_work/_tool/llvm/15.0.6/x64/lib/x86_64-unknown-linux-gnu/ output/release/simulator/linux/test.bin --headless --limit-stack-usage
